.Vscode
ArduinoUno_test/.pio
ArduinoUno_test/.vscode/.browse.c_cpp.db*
ArduinoUno_test/.vscode/c_cpp_properties.json
ArduinoUno_test/.vscode/launch.json
ArduinoUno_test/.vscode/ipch
ArduinoUno_test/.DS_Store
Presentacion/.DS_Store
.DS_Store